# Python Intro: i/o, Namespaces, objects, classes

### File i/o

#### `with` context manager:


*    facilitate the proper handling of resources. 
*   setup and teardown of resources
*   Open and close a file stream in the same block

In [ ]:
# open function
with open("./data.txt", "w") as f:
  for i in range(100):
    f.write(f"{i},{i**2}\n")

In [ ]:
# reads
with open("./data.txt", "r") as f:
  dta = f.readlines()

In [ ]:
dta

['0\n',
 '1\n',
 '2\n',
 '3\n',
 '4\n',
 '5\n',
 '6\n',
 '7\n',
 '8\n',
 '9\n',
 '10\n',
 '11\n',
 '12\n',
 '13\n',
 '14\n',
 '15\n',
 '16\n',
 '17\n',
 '18\n',
 '19\n',
 '20\n',
 '21\n',
 '22\n',
 '23\n',
 '24\n',
 '25\n',
 '26\n',
 '27\n',
 '28\n',
 '29\n',
 '30\n',
 '31\n',
 '32\n',
 '33\n',
 '34\n',
 '35\n',
 '36\n',
 '37\n',
 '38\n',
 '39\n',
 '40\n',
 '41\n',
 '42\n',
 '43\n',
 '44\n',
 '45\n',
 '46\n',
 '47\n',
 '48\n',
 '49\n',
 '50\n',
 '51\n',
 '52\n',
 '53\n',
 '54\n',
 '55\n',
 '56\n',
 '57\n',
 '58\n',
 '59\n',
 '60\n',
 '61\n',
 '62\n',
 '63\n',
 '64\n',
 '65\n',
 '66\n',
 '67\n',
 '68\n',
 '69\n',
 '70\n',
 '71\n',
 '72\n',
 '73\n',
 '74\n',
 '75\n',
 '76\n',
 '77\n',
 '78\n',
 '79\n',
 '80\n',
 '81\n',
 '82\n',
 '83\n',
 '84\n',
 '85\n',
 '86\n',
 '87\n',
 '88\n',
 '89\n',
 '90\n',
 '91\n',
 '92\n',
 '93\n',
 '94\n',
 '95\n',
 '96\n',
 '97\n',
 '98\n',
 '99\n']

In [ ]:
# reads
dta = []
with open("./data.txt", "r") as f:
  for line in f:
    dta.append(int(line))

In [ ]:
dta

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
# writes

### Classes and Objects

In [ ]:
# defining classes
class SuperHumanRobotAi():

    def __init__(self, name):
        # code goes here
        self.name = name

    def gen_action(self):
        # code goes here
        return "take over the world"

    def change_name(self, new_name):
      # code goes here
      self.name = new_name

In [ ]:
bot = SuperHumanRobotAi(name="hal")

In [ ]:
bot.gen_action()

'take over the world'

In [ ]:
bot.change_name("michael")

In [ ]:
bot.name

'michael'

In [ ]:
# inheritance

In [ ]:
class NiceRobot(SuperHumanRobotAi):

  def __init__(self, name):
    super(SuperHumanRobotAi, self).__init__()
      
  def gen_action(self):
    return "give out free kittens"

In [ ]:
bot_2 = NiceRobot("ava")

In [ ]:
bot_2.gen_action()

'give out free kittens'

### In-class activity

#### Create your first Python class:


*   Write a class called `Dog()`
*   Pass name, breed, weight (in lbs), and color to the constructor (i.e., `__init__`)
*   Implement a method to return each of the attributes you passed to the `__init__`
*   Implement a method that return the dog's weight in kilograms: `kg = lbs / 2.2046`

In [ ]:
# File >> Save a Copy in Drive
# your code here