# Exercise 1 - Means over Columns

In [1]:
X =   [[ 0.9573075 ,  0.83877059,  1.51767182],
       [ 0.83782936, -0.88288659,  0.7371596 ],
       [-0.01786695,  0.83195016,  0.66394427],
       [-2.43495362, -0.5999003 , -1.40044824],
       [-0.67749399, -0.93229581,  0.4736418 ],
       [ 0.47934903,  0.90244159, -0.24246888],
       [ 1.00280715, -0.68745287, -1.08115248],
       [ 0.98143632,  0.77163722,  0.07051186],
       [ 1.10721349,  0.37520477,  0.54710493],
       [ 0.20813717, -0.56000733, -0.38301232]]

###A (For loops version)

In [2]:
def compute_means_over_columns(matrix):
  means = []
  for row in matrix:
    sum = 0
    for elem in row:
      sum += elem
    mean = sum / len(row)
    means.append(mean)
  return means

means = compute_means_over_columns(X)

for i in range(len(means)):
  print(f'Mean over column {i + 1}: {means[i]}')

Mean over column 1: 1.1045833033333332
Mean over column 2: 0.23070079
Mean over column 3: 0.49267582666666665
Mean over column 4: -1.4784340533333333
Mean over column 5: -0.378716
Mean over column 6: 0.3797739133333334
Mean over column 7: -0.2552660666666667
Mean over column 8: 0.6078618
Mean over column 9: 0.67650773
Mean over column 10: -0.24496082666666666

###B (Vectorization version)

In [3]:
import numpy as np

arr = np.array(X)
np.mean(arr, axis=1)

array([ 1.1045833 ,  0.23070079,  0.49267583, -1.47843405, -0.378716  ,
        0.37977391, -0.25526607,  0.6078618 ,  0.67650773, -0.24496083])

# Exercise 2 - Matrix Addition

In [4]:
A =   [[-0.92597499,  0.43720423, -0.35210601],
       [-1.57649123, -1.07509224,  0.47516471],
       [-0.20934054,  1.02077567,  1.07644301],
       [-0.15567112, -2.55700368, -1.46401899],
       [ 0.02719893,  0.19837065,  1.85917993],
       [-0.48220856, -0.5882894 ,  0.8520666 ],
       [-0.61637754, -1.28843955,  0.21051033],
       [-0.37856032, -0.18264039, -1.66748906],
       [-1.88442764,  1.06363804, -0.73199025],
       [ 1.1067878 , -1.50124564,  0.3577191 ]]
       
B =   [[-0.92597499,  0.43720423, -0.35210601],
       [-1.57649123, -1.07509224,  0.47516471],
       [-0.20934054,  1.02077567,  1.07644301],
       [-0.15567112, -2.55700368, -1.46401899],
       [ 0.02719893,  0.19837065,  1.85917993],
       [-0.48220856, -0.5882894 ,  0.8520666 ],
       [-0.61637754, -1.28843955,  0.21051033],
       [-0.37856032, -0.18264039, -1.66748906],
       [-1.88442764,  1.06363804, -0.73199025],
       [ 1.1067878 , -1.50124564,  0.3577191 ]]

###A (For loops version)

In [5]:
new_matrix = []

for i in range(len(A)):
  new_row = []
  for j in range(len(B[0])):
    sum = A[i][j] + B[i][j]
    new_row.append(sum)
  new_row
  new_matrix.append(new_row)

new_matrix

[[-1.85194998, 0.87440846, -0.70421202],
 [-3.15298246, -2.15018448, 0.95032942],
 [-0.41868108, 2.04155134, 2.15288602],
 [-0.31134224, -5.11400736, -2.92803798],
 [0.05439786, 0.3967413, 3.71835986],
 [-0.96441712, -1.1765788, 1.7041332],
 [-1.23275508, -2.5768791, 0.42102066],
 [-0.75712064, -0.36528078, -3.33497812],
 [-3.76885528, 2.12727608, -1.4639805],
 [2.2135756, -3.00249128, 0.7154382]]

###B (Vectorization version)

In [6]:
import numpy as np

arr_a = np.array(A)
arr_b = np.array(B)

arr_a + arr_b

array([[-1.85194998,  0.87440846, -0.70421202],
       [-3.15298246, -2.15018448,  0.95032942],
       [-0.41868108,  2.04155134,  2.15288602],
       [-0.31134224, -5.11400736, -2.92803798],
       [ 0.05439786,  0.3967413 ,  3.71835986],
       [-0.96441712, -1.1765788 ,  1.7041332 ],
       [-1.23275508, -2.5768791 ,  0.42102066],
       [-0.75712064, -0.36528078, -3.33497812],
       [-3.76885528,  2.12727608, -1.4639805 ],
       [ 2.2135756 , -3.00249128,  0.7154382 ]])

#Exercise 3 - Dot Product

In [7]:
a = [4, 2, 6, 2, 5, 7, 5, 8, 8, 4]
b = [4, 2, 6, 2, 5, 7, 5, 8, 8, 4]

###A (For loops version)

In [8]:
sum = 0
for i in range(len(a)):
  sum += a[i] * b[i]

sum

303

###B (Vectorization version)

In [9]:
import numpy as np

arr_a = np.array(a)
arr_b = np.array(b)

np.dot(arr_a, arr_b)

303

#Exercise 4 - Matrix Multiplication

###A (For loops version)

In [10]:
a = []
b = []

lines = []
with open("input.txt", "r") as f:
  # lines = f.readlines()
  lines = f.read().splitlines()

for line in lines:
  if "A" in line:
    print(line.split()[2:])
  

# for i in range(len(lines)):
#   lines[i].replace("\n","")

lines

  # for line in f:
  #   line = line.replace("=", "")
  #   row_list = line.split()
  #   if "A" in row_list:
  #     row_list = row_list[1:]
  #     a.append(row_list)
  #   if "B" in row_list:
  #     row_list = row_list[1:]
  #     b.append(row_list)
    # if "A" in line:
    #   line_list = f[i].split()
    #   print(line_list)
# print(a)
# print(b)
# with open("output.txt", "w") as f:
#   f.write("hello")

['1', '2']

['A = 1 2', '    2 1', 'B = 3', '    1']

###B (Vectorization version)

In [11]:
import numpy as np

## FIXME --- HAVE TO ACTUALLY LOAD THEM FROM A FILE

arr_a = np.array([[1,2],[2,1]])
arr_b = np.array([3,1])

result = np.matmul(arr_a, arr_b)

with open("output.txt", "w") as f:
  f.write(str(result))