# Exercise 1

In [4]:
X =   [[ 0.9573075 ,  0.83877059,  1.51767182],
       [ 0.83782936, -0.88288659,  0.7371596 ],
       [-0.01786695,  0.83195016,  0.66394427],
       [-2.43495362, -0.5999003 , -1.40044824],
       [-0.67749399, -0.93229581,  0.4736418 ],
       [ 0.47934903,  0.90244159, -0.24246888],
       [ 1.00280715, -0.68745287, -1.08115248],
       [ 0.98143632,  0.77163722,  0.07051186],
       [ 1.10721349,  0.37520477,  0.54710493],
       [ 0.20813717, -0.56000733, -0.38301232]]

###A (For loops version)

In [26]:
def compute_means_over_columns(matrix):
  means = []
  for row in matrix:
    sum = 0
    for cell in row:
      sum += cell
    mean = sum / len(row)
    means.append(mean)
  return means

means = compute_means_over_columns(X)

for i in range(len(means)):
  print(f'Mean over column {i + 1}: {means[i]}')

Mean over column 1: 1.1045833033333332
Mean over column 2: 0.23070079
Mean over column 3: 0.49267582666666665
Mean over column 4: -1.4784340533333333
Mean over column 5: -0.378716
Mean over column 6: 0.3797739133333334
Mean over column 7: -0.2552660666666667
Mean over column 8: 0.6078618
Mean over column 9: 0.67650773
Mean over column 10: -0.24496082666666666

B (Vectorization version)

In [50]:
import numpy as np

arr = np.array(X)
np.mean(arr, axis=1)

array([ 1.1045833 ,  0.23070079,  0.49267583, -1.47843405, -0.378716  ,
        0.37977391, -0.25526607,  0.6078618 ,  0.67650773, -0.24496083])