In [1]:
import numpy as np
import pandas as pd

#Exercise 1

In [4]:
math = pd.Series([80,96,78,59],['Mark','Barbara','Eleanor','David'])
print(math)

Mark       80
Barbara    96
Eleanor    78
David      59
dtype: int64

In [5]:
english = pd.Series([90,87,97,65],['Mark','Barbara','Eleanor','David'])
print(english)

Mark       90
Barbara    87
Eleanor    97
David      65
dtype: int64

In [12]:
simple_grades = pd.DataFrame({'Math': math, 'English': english})
print(simple_grades)

         Math  English
Mark       80       90
Barbara    96       87
Eleanor    78       97
David      59       65

In [33]:
data = np.array([[52.0, 73.0], [10.0, 39.0], [35.0, np.nan], [np.nan, 26.0], [np.nan, 99.0], [81.0, 68.0]])
grades = pd.DataFrame(data, columns = ['Math', 'English'], index = ['Barbara', 'David', 'Eleanor', 'Greg', 'Lauren', 'Mark'])

# look at the column labels of grades
print(grades.columns)
# look at the index labels of grades
print(grades.index)
# look at the values (2d array) of grades
print(grades.values)

Index(['Math', 'English'], dtype='object')
Index(['Barbara', 'David', 'Eleanor', 'Greg', 'Lauren', 'Mark'], dtype='object')
[[52. 73.]
 [10. 39.]
 [35. nan]
 [nan 26.]
 [nan 99.]
 [81. 68.]]

In [34]:
grades.loc[['David','Greg'],'Math']

David    10.0
Greg      NaN
Name: Math, dtype: float64

In [35]:
grades.iloc[[1,3],0]

David    10.0
Greg      NaN
Name: Math, dtype: float64

#Exercise 2

#Exercise 3

#Exercise 4

#Exercise 5

#Exercise 6